@use "reset" as reset;
@use "mixins" as mixins;
@use "colors" as colors;

// Screen breakpoints
// Mobile first from 320px to 480px
$big_mobile: 480px;
$tablet: 768px;
$small_desktop: 1024px;
$desktop: 1280px;
$big_desktop: 1440px;

// Fonts
@font-face {
  font-family: "Market Sans";
  src: url("../fonts/market-sans/marketsans-regular.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  .canvas {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Market Sans", Arial, sans-serif;
    section {
      padding: 48px 16px;
    }
    a {
      color: inherit;
    }
    a:hover {
      color: colors.$red;
    }
    h1 {
      font-size: 36px;
      font-weight: bold;
      line-height: 46px;
      margin-bottom: 16px;
    }

    h2 {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
    }
    h3 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
      font-weight: bold;
    }
    p,
    ul {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    ul {
      margin-left: 24px;
      li {
        list-style-type: disc;
      }
    }
    .last {
      margin-bottom: 0 !important;
    }

    .hpr {
      color: colors.$white;
      text-align: left;
      background: url("../images/mobile/module-1-image-min.jpg") no-repeat;
      background-position: top center;
      background-size: cover;

      .cta {
        margin-bottom: 16px;
        background: colors.$white;
        color: colors.$red;
        font-size: 14px;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 14px 20px 12px 20px;
        border-radius: 24px;
        text-decoration: none;

        position: relative;
        background-size: 300%;
        transition: all 0.6s;
      }

      .red {
        color: colors.$red;
        background-image: linear-gradient(20deg, white 50%, colors.$red 50%);
      }

      .cta:hover {
        color: #fff;
        background-position: 100%;
      }

      p {
        font-size: 12px;
        line-height: 16px;
        max-width: 180px;
      }
    }
    .question_1 {
      p {
        font-size: 20px;
        line-height: 28px;
        color: colors.$black;
        margin-bottom: 32px;
      }

      .icon_container {
        display: grid;
        grid-template-columns: 56px auto;
      }
    }
    .gray {
      background: colors.$gray;
    }
    .question_2 {
      color: colors.$black;
      .left {
        padding-bottom: 48px;
      }
      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        .white_container {
          display: flex;
          justify-self: center;
          align-items: center;
          width: 100%;
          padding: 27px 52px;
          background: white;
          border-radius: 16px;
          img {
            display: block;
            margin: auto;
          }
        }
      }
    }
    .action {
      .cards {
        .card {
          padding: 40px 24px;
          background: colors.$gray;
          border-radius: 16px;
          margin-bottom: 16px;
          h4 {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 16px;
          }
          p {
            font-family: 16px;
            line-height: 24px;
            margin-bottom: 0;
          }
        }
      }
    }
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../images/mobile/module-5-image-without-logo-min.jpg")
        no-repeat;
      background-position: center;
      background-size: cover;
      height: 430px;
    }

    .terms_faqs {
      padding: 0 0;
      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      .row {
        .col {
          flex: 1;
          &:last-child {
          }
        }
      }
      .tabs {
        overflow: hidden;
        padding: 0px 0px;
      }

      .faqs_label {
        padding-top: 32px;
      }
      .tab {
        width: 100%;
        overflow: hidden;
        &-label {
          padding: 30px 16px;
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
          /* Icon */
          &:hover {
          }
          &::after {
            content: "";
            background: url("../images/mobile/minus.svg") no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            text-align: center;
            transition: all 0.6s;
          }
        }

        &-label:hover,
        &-label:hover ~ .tab-content {
          animation-duration: 0.4s;
          animation-name: bck;
          animation-fill-mode: forwards;
        }
        @keyframes bck {
          0% {
            background: #fff;
          }
          100% {
            background: rgba($color: colors.$gray, $alpha: 0.6);
          }
        }
        &-content {
          max-height: 0;
          transition: all 0.6s;
          p {
            color: colors.$dark_gray;
            font-size: 12px;
            line-height: 20px;
            padding: 0px 16px 23px 16px;
            margin-bottom: 0;
          }

          p.last {
            border-bottom: 1px solid colors.$gray;
            padding-bottom: 32px;
          }
          .item {
            border-bottom: 1px solid colors.$gray;
            cursor: pointer;
            .question {
              position: relative;
            }
            .question:after {
              content: "";
              right: 16px;
              position: absolute;
              background: url("../images/mobile/plus.svg") no-repeat;
              background-position: center;
              width: 20px;
              height: 20px;
              text-align: center;
              transition: all 0.6s;
            }
            .question.minus:after {
              content: "";
              right: 16px;
              position: absolute;
              background: url("../images/mobile/minus.svg") no-repeat;
              background-position: center;
              width: 20px;
              height: 20px;
              text-align: center;
              transition: all 0.6s;
              transform: rotate(180deg);
            }
            h5 {
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              padding: 32px 64px 32px 16px;
            }
            h5:hover,
            h5:hover ~ .answer {
              animation-duration: 1s;
              animation-name: bck;
              animation-fill-mode: forwards;
            }
            .answer.hidden {
              display: none;
            }
          }
        }
        &-close {
          display: flex;
          justify-content: flex-end;
          font-size: 0.75em;
          cursor: pointer;
          &:hover {
          }
        }
      }
      input:checked {
        + .tab-label {
          &::after {
            background: url("../images/mobile/plus.svg") no-repeat;
            transform: rotate(180deg);
          }
        }
        ~ .tab-content {
          max-height: 200vh;
        }
      }
    }
  }
}

// tablet
@media (min-width: $tablet) {
  body {
    .canvas {
      section {
        padding: 40px;
      }
      .hpr {
        background: url("../images/desktop/module-1-image-min.jpg") no-repeat;
        background-position: top center;
        background-size: cover;

        .text {
          width: 80%;
          max-width: 460px;
        }
      }
      .question_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
        .left {
          padding-bottom: 0;
          ul {
            columns: 2;
          }
        }
        .right {
          justify-content: flex-start;
        }
      }
      .action {
        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 60px;
        }
      }
      .banner {
        justify-content: flex-start;
        padding: 0 60px;
        background: url("../images/desktop/module-5-image-no-logo-min.jpg")
          no-repeat;
        background-position: center;
        background-size: cover;
        height: 360px;
        img {
          display: block;
          width: 210px;
        }
      }
    }
  }
}

// small desktop
@media (min-width: $small_desktop) {
  body {
    .canvas {
      section {
        padding: 96px;
      }
      .hpr {
        .text {
          max-width: 572px;

          h1 {
            font-size: 46px;
            line-height: 52px;
          }
          h2 {
            font-size: 16px;
            line-height: 24px;
          }
          p {
            font-size: 12px;
            line-height: 16px;
            max-width: 572px;
          }
        }
      }

      .question_1 {
        p {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .question_2 {
        .left {
          padding-right: 70px;
          h3 {
            font-size: 36px;
            line-height: 46px;
          }
          ul {
            max-width: max-content;
          }
        }
      }
      .action {
        h3 {
          padding-right: 40px;
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 23px;
        }
        .cards {
        }
      }
      .terms_faqs {
        .tab-label {
          padding: 32px 32px;
        }

        .tab-content {
          .item {
            h5 {
              padding: 32px 32px;
            }

            .question:after,
            .question.minus:after {
              right: 32px;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            padding-left: 32px;
          }
        }
      }
    }
  }
}
